body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  text-decoration: none;
  font-style: normal;
}
h1,
p {
  margin: 0;
}
a {
  text-decoration: none;
  display: block;
}
ul {
  list-style-type: none;
}
img {
  overflow: hidden;
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Manrope", sans-serif;
  width: 100%;
  max-width: 375px;
  height: 667px;
  background-color: rgba(236, 242, 248, 1);
  margin: 10px auto;
}

@media (min-width: 48em) {
  .container {
    max-width: 48em;
    height: 50em;
  }
}
@media (min-width: 90em) {
  html body .container {
    max-width: 90em;
  }
}

.furniture {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 327px;
  height: 538px;
  border-radius: 10px;
  position: relative;
}
@media (min-width: 48em) {
  .furniture {
    flex-direction: row;
    width: 38em;
    height: 21.625em;
  }
}
@media (min-width: 90em) {
  .furniture {
    width: 45.625em;
    height: 17.5em;
  }
}
.container-dresser {
  width: 327px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
}
@media (min-width: 48em) {
  .container-dresser {
    width: 14.31em;
    height: 21.625em;
    border-radius: 10px 0px 0px 10px;
  }
}
@media (min-width: 90em) {
  .container-dresser {
    width: 17.81em;
    height: 17.5em;
  }
}
.dresser {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
@media (min-width: 48em) {
  .dresser {
    object-position: left center;
  }
}
@media (min-width: 90em) {
  .dresser {
    width: auto;
    object-position: left center;
  }
}
.container-dresser {
  margin: 0px;
}
.notice {
  display: flex;
  flex-direction: column;
  width: 267px;
  height: 288px;
  margin: 32px 30px 18px 30px;
}
@media (min-width: 48em) {
  .notice {
    width: 19.44em;
    height: 16.5em;
    margin: 41px 36px 41px 32px;
  }
}
@media (min-width: 90em) {
  .notice {
    width: 22.81em;
    height: 14.13em;
    margin: 30px 40px 30px 40px;
  }
}
h1 {
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 24px;
  letter-spacing: 0.25px;
  margin-top: 0;
}
.text {
  margin-top: 0;
  line-height: 120%;
  color: gray;
  margin-bottom: 48px;
  font-size: 13px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.12%;
}
@media (min-width: 48em) {
  .text {
    margin-bottom: 1.5em;
  }
}
.author {
  display: flex;
  font-weight: bold;
  font-size: 13px;
}
.photo {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.name {
  font-weight: bold;
  height: 18px;
  margin: 0px auto 0px 16px;
  font-size: 13px;
  line-height: 130%;
  letter-spacing: 0.12px;
  color: rgba(72, 85, 106, 1);
}

.date {
  font-weight: 100;
  color: gray;
  height: 18px;
  margin: 5px auto 0px 16px;
  color: rgba(157, 174, 194, 1);
}
@media (min-width: 48em) {
  .share-wrapper {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    margin-left: 104px;
  }
}

.btn-share {
  display: flex;
  margin: 4px 0px 4px 64px;
  border-radius: 50px;
  border-width: 0px;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  background-color: rgba(236, 242, 248, 1);
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.btn-share:hover {
  background: white;
}

@media (min-width: 48em) {
  .btn-share {
    margin: 4px 0px 4px 0px;
  }
}
.social-links {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 76px;
  display: none;
  background: rgba(72, 85, 106, 1);
  border: 1px solid #ddd;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  color: rgba(157, 174, 194, 1);
  z-index: 1;
}

.social-links.show {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
}
@media (min-width: 48em) {
  .social-links {
    width: 13.63em;
    height: 4.19em;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100%;
    margin-bottom: 0.5em;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  }

  .social-links::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0.5em;
    border-style: solid;
    border-color: rgba(72, 85, 106, 1) transparent transparent transparent;
  }
}
.wrapper-social-icon {
  display: flex;
  flex-direction: row;
  width: 92px;
  height: 20px;
  gap: 16px;
}
.icon-social {
  background: rgba(72, 85, 106, 1);
}
